.title {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    text-align: center;
    font-size: 100px;
    font-weight: 200;
    color: white;
    margin-top: 250px;
}
.title-container {
    padding-top: 30px;
    padding-botton: 30px;
    margin: -8px;
    background: url("images/sunset.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;
}
