.welcome {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    text-align: center;
    font-size: 75px;
    color: white;
    margin-top: 150px;
}
.title-container {
    padding-top: 30px;
    padding-botton: 30px;
    background: url("images/sunset.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;
}
.small-title {
    text-align: center;
    padding-top: 20px;
}
.img-container {
    margin: 30px;
    margin-left: 80px;
    padding: 0;
    height: 250px;
    width: 375px;
    border: 5px solid lightblue;
    border-radius: 10px;
}
