.title {
    text-align: center;
    margin: auto;
    background-image: url("images/water.jpg");
    vertical-align: middle;
    line-height: 200px;
    width: 400px;
    height: 200px;
    border: 5px solid lightblue;
    padding: 25px 0;
    border-radius: 75px;
    font-size: 50px;
    font-family: Segoe UI,Lucida Grande,Arial,sans-serif;
}
