.welcome {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    text-align: center;
    font-size: 75px;
    color: white;
    margin-top: 200px;
}
.title-container {
    padding-top: 30px;
    padding-botton: 30px;
    background: url("images/sunset.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;
}
.small-title {
    text-align: center;
    padding-top: 20px;
}
.img-container {
    margin: 50px;
    margin-left: 50px;
    padding: 0;
    height: auto;
    width: 60%;
    border: 5px solid #f45942;
    border-radius: 10px;
}
